.lp-hair-awareness {
  padding: 80px 0;
  background: var(--White);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.09);
  
  @media (min-width: 991px) {
    padding: 120px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    width: 100%;
    max-width: 1040px;
    text-align: center;
  }

  &__text {
    font-family: var(--font-titles);
    font-weight: 900;
    font-size: 52px;
    line-height: 0.868;
    letter-spacing: -1.56px;
    color: var(--Black);
    margin: 0;
    
    @media (min-width: 991px) {
      font-size: 104px;
      letter-spacing: -3.12px;
    }
    
    .highlight {
      color: var(--Blue);
    }
    
    br {
      @media (max-width: 991px) {
        display: block;
      }
    }
  }
}
