.lp-hair-transplant-intro {
  padding: 50px 0 80px;
  background: var(--White-Bg);
  overflow: hidden;
  position: relative;
  
  @media (min-width: 769px) {
    padding: 100px 0 40px;
  }

  .container {
    position: relative;
  }

  &__title {
    font-family: var(--font-titles);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: -0.69px;
    color: #0b0b0b;
    text-align: left;
    margin-bottom: 160px;
    
    
    @media (min-width: 769px) {
      font-size: 46px;
      line-height: 50px;
      letter-spacing: -1.38px;
      margin-bottom: 280px;
      br{
        display: none;
      }
    }
    
    .highlight {
      color: var(--Blue);
    }
  }

  &__content {
    position: relative;
  }

  &__shampoo {
    position: absolute;
    left: -150px;
    top: -200px;
    width: 480px;
    z-index: 3;
    will-change: transform, opacity;
    pointer-events: none;

    @media (min-width: 769px) {
      width: 600px;
      left: -150px;
      top: -200px;
    }


    @media (min-width: 1200px) {
      width: 900px;
      left: -200px;
      top: -350px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      transform: rotate(15deg);
    }
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__text-block {
    margin-bottom: 50px;
    &:not(:last-child){
      margin-bottom: 130px;
    }
    @media (min-width: 769px) {
      margin-bottom: 80px;
      position: relative;
      &:not(:last-child){
        margin-bottom: 220px;
      }
    }
    
    &--1 {
      @media (min-width: 769px) {
        position: relative;
        text-align: right;
        margin-right: 11%;
        padding-right: 20px;
      }
    }
    
    &--2 {
      z-index: 10;
      position: relative;

      @media (min-width: 769px) {
        text-align: center;
      }
    }
    
    &--3 {
      z-index: 10;
      position: relative;

      @media (min-width: 769px) {
        text-align: left;
       
      }
    }
  }

  &__main-text {
    font-family: var(--font-titles);
    font-weight: 900;
    font-size: clamp(48px, 10vw, 120px);
    line-height: 1;
    letter-spacing: -1.44px;
    color: var(--Black);
    text-align: right;
    margin: 0;
    
    @media (min-width: 769px) {
      max-width: 100%;
      font-size: clamp(48px, 10vw, 120px);
      line-height: 0.8;
      letter-spacing: -3.6px;
    }
    
    .highlight {
      color: var(--Blue);
    }
    
  }

  &__middle-text {
    font-family: var(--font-titles);
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -1.14px;
    color: var(--Black);
    margin: 0;
    text-align: center;

    @media (min-width: 769px) {
      font-size: 64px;
      line-height: 1.1;
      letter-spacing: -1.92px;
    }
    
    .highlight {
      color: var(--Blue);
    }
  }

  &__bottom-text {
    font-family: var(--font-titles);
    font-weight: 900;
    font-size: 48px;
    line-height: 0.95;
    letter-spacing: -1.44px;
    color: var(--Black);
    margin: 0;
    
    @media (min-width: 769px) {
      font-size: 120px;
      line-height: 0.868;
      letter-spacing: -3.6px;
    }
    
    .highlight {
      color: var(--Blue);
    }
    span.desktop-only {
      @media (max-width: 1200px) {
        display: none;
      }
    }
    span.mob-only {
      @media (min-width: 1201px) {
        display: none;
      }
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 270px;
    z-index: 1;
    
    @media (min-width: 769px) {
      right: 0;
      bottom: 0;
      transform-origin: bottom right;
    }
    
    @media (min-width: 1200px) {
      right: 0;
      bottom: -5vw;
      width: 32vw;
    }
    
    picture {
      display: block;
      width: 100%;
    }
    
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  }
}
