
.lp-hair-transformation {
  padding-block: var(--block-gap);
  background: var(--White-Bg);
  padding-bottom: 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: var(--font-titles);
    font-weight: 900;
    font-size: 5rem;
    line-height: 0.98;
    letter-spacing: -0.12rem;
    color: var(--Black);
    margin: 0 0 -14.5vw;
    max-width: 32rem;

    @include md-up {
      font-size: 6.4rem;
      letter-spacing: -0.192rem;
      max-width: 90rem;
    }

    @include lg-up {
      font-size: 10rem;
      letter-spacing: -0.3rem;
      max-width: 105.9rem;
      margin-bottom: -7vw;
    }

    .highlight {
      color: var(--Blue);
    }
  }

  &__media {
    position: relative;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__cta {
    position: absolute;
    left: 50%;
    bottom: 3.2rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 36.7rem;
    gap: 0.7rem;

    @include md-up {
      bottom: 4.6rem;
    }

    @include lg-up {
      bottom: 12vw;
      max-width: 56rem;
    }
  }

  &__cta-title {
    font-family: var(--font-titles);
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.1;
    color: var(--White);
    text-align: center;
    margin: 0 0 1.6rem;
    text-shadow: 0 0.8rem 4rem rgba(0, 0, 0, 0.93);

    @include md-up {
      font-size: 3.2rem;
    }

    @include lg-up {
      font-size: 4.4rem;
      margin-bottom: 2.4rem;
    }
  }

  &__btn {
    max-width: 36.7rem;
    background: var(--Blue);
    border: 1px solid var(--Blue);
    border-radius: 4.1rem;
    padding: 1.6rem 1rem;
    width: 100%;
    font-family: var(--font-titles);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--White);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        background: #4a8ae0;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(88, 154, 241, 0.3);
      }
  }

  &__cta-subtitle {
    font-family: var(--font-titles);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #efefef;
    text-align: center;
    margin: 0;
  }
}
