@import "../mixins/mixins-master";

.lp-hero {
  background-color: var(--White-Bg);
  padding: 4.1rem 0 0;
  display: flex;
  align-items: center;
  
  
  @include lg-up {
    padding: 15rem 0 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
